default: &default
  search_engines:
    Google:
      base_url: https://www.googleapis.com/customsearch/v1
      api_key: YOUR_API_KEY
      search_engine_id: YOUR_SEARCH_ENGINE_ID
    Bing:
      base_url: https://api.bing.microsoft.com/v7.0/search
      api_key: YOUR_SUBSCRIPTION_ID

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default